.loading {
  justify-content: center;
  align-items: center;
}

canvas {
  width: 100%;

  &:hover ~ button {
    display: block;
  }

  &:hover ~ a {
    display: block;
  }
}

.deleteButton {
  display: none;
  position: absolute;
  bottom: 20px;
  right: 20px;

  &:hover {
    display: block;
  }
}

.saveButton {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 20px;
  background-color: lightgrey;
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;

  &:hover {
    display: block;
  }
}